<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIResourceName" value="" />
		<add key="APIKey" value="" />
		<add key="DeploymentName" value="gpt-35-turbo"/>
		<add key="Prompt" value="あなたは有能な秘書です。下記の文書は音声起こしした文字です。意味不明な部分を前後関係を確認し見直して、その主旨を捉えた要約を日本語で出力してください。" />
		<add key="FileName" value="" />
	</appSettings>
</configuration>