<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIResourceName" value="" />
		<add key="APIKey" value="" />
		<add key="DeploymentName" value="gpt-35-turbo"/>
		<add key="Prompt" value="入力された文章に対して、その主旨を捉えた要約を日本語で出力してください。" />
		<add key="FileName" value="" />
	</appSettings>
</configuration>