<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIResourceName" value="" />
		<add key="APIKey" value="" />
		<add key="Prompt" value="Provide a summary of the text below that captures its main idea." />
		<add key="FileName" value="" />
	</appSettings>
</configuration>